
<%- include('./partials/header.ejs') %>
   <div class="div1">
    <% blog.forEach((data)=>{%>
        <%=data.title%>
        <img src="<%=data.image%>" alt="">
        <%=data.created%>
        <%=data.body.substring(0,100) %>....
        <a href="/blog/<%=data._id%>">Read More</a>
            <%}) %>
   </div>
<%- include('./partials/footer.ejs') %>