

<%- include('./partials/header.ejs') %>



  <div class="ui main text container segment" style="margin-top: 7rem;">
      <div class="ui huge header"><%=blog.title%></div>
      <div class="ui top attched segment">
          <div class="item">
            <img src="<%=blog.image%>" alt="" class="ui centered rounded image">
           <div class="content">
               <span><%=blog.created.toDateString()%></span>
           </div>
           <div class="description">
            <p><%=blog.body%></p>
           </div>
           <div>
               <a class="ui basic violet button" href="/blog/<%=blog._id%>/edit">Edit</a>
                <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
                    <input type="submit" class="ui basic violet button">
                </form>
           </div>
        </div>
      </div>
  </div>
    <%- include('./partials/footer.ejs') %>